<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ICountryService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/mydict/CountryService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICountryService" contract="nktuyen.mydict.ICountryService" name="WSHttpBinding_ICountryService">
        <identity>
          <servicePrincipalName value="host/GA-H110M-DS2" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="mydictEntities" connectionString="metadata=res://*/MyDict.csdl|res://*/MyDict.ssdl|res://*/MyDict.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=mydict;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>